.image-container {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: scroll;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    overflow-y: auto;
}
.image {
    padding: 10px;
    height: 100px;
    max-width: 100px;
}
.search-input{
    width: 500px;
    padding: 10px;
}
.search-button {
    background-color: rgb(4, 103, 196);
    padding: 10px;
    color: white;
    width: 100px;
    margin-left: 5px;

}
button.search-button:disabled {
    opacity: 0.3;
}